.pt-8 { padding-top: 4.5rem; }

.title {

    font-size: 18px !important;

    line-height: 1.7 !important;

    letter-spacing: 1px !important;

}

.price {
    
    display: block;

    font-size: 40px;

    letter-spacing: 1px;

}

.category {

    font-size: 18px;

    letter-spacing: 1px;

    color: #444;

}

.top-of-cart {

    display: flex;

    justify-content: space-between;

    align-items: center;

}

.top-of-cart h4 {

    font-size: 18px;

    letter-spacing: 1px;

}

.loader {

    width: 100%;

    height: calc(100vh - 56px);

    display: flex;

    justify-content: center;

    align-items: center;

}
